*.o
*.la
*.lo
.deps/
.libs/
Makefile
Makefile.in
/Showmehow-1.0.gir
/Showmehow-1.0.typelib
/Showmehow.c
/Showmehow.h
/aclocal.m4
/autom4te.cache/
/com.endlessm.Showmehow.Service.service
/com.endlessm.showmehow.gschema.valid
/compile
/config.log
/config.guess
/config.status
/config.sub
/configure
/data/com.endlessm.Coding.policy
/data/lessons.json
/depcomp
/install-sh
/files/coding-shared-dir
/lib/config.js
/libtool
/ltmain.sh
/missing
/showmehow-resources.c
/showmehow-resources.h
/showmehow-service
/showmehow-validator
