Source: coding-game-service
Priority: standard
Maintainer: Sam Spilsbury <sam@endlessm.com>
Build-Depends: autotools-dev,
               debhelper (>= 8.0.0),
               gir1.2-glib-2.0,
               gjs,
               gobject-introspection,
               jasmine-gjs (>= 2.2.0),
               libc6-dev,
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.38),
               libwebkit2gtk-4.0-dev,
               pkg-config,
               python-lcov-cobertura (>= 1.5)
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: libcoding-game-service-0
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, library.

Package: gir1.2-coding-game-service-0
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         libcoding-game-service-0 (= ${binary:Version}),
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, GObject Introspection files.

Package: libcoding-game-service-0-dev
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         gir1.2-coding-game-service-0 (= ${binary:Version}),
         libcoding-game-service-0 (= ${binary:Version}),
         gjs,
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, library files.

Package: coding-game-service
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         gir1.2-coding-game-service-0 (= ${binary:Version}),
         gir-1.2-coding-game-service-0,
         libcoding-game-service-0 (= ${binary:Version}),
         gjs,
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state.
