Source: showmehow-service
Priority: standard
Maintainer: Sam Spilsbury <sam@endlessm.com>
Build-Depends: autotools-dev,
               cowsay,
               debhelper (>= 8.0.0),
               eos-node-modules-dev (>= 1.0.0),
               eos-shell-common,
               fortune-mod,
               gir1.2-glib-2.0,
               gjs,
               gobject-introspection,
               jasmine-gjs (>= 2.2.0),
               libc6-dev,
               libgirepository1.0-dev,
               libgjs-dev,
               libglib2.0-dev (>= 2.38),
               libwebkit2gtk-4.0-dev,
               pkg-config,
               python-gi,
               python-lcov-cobertura (>= 1.5),
               python3-showmehow
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: libshowmehow-service-0
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         ${misc:Depends}
Description: Showmehow Service
 A service for code and systems administration lessons in Mission, library files.

Package: gir1.2-showmehow-service-0
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         libshowmehow-service-0 (= ${binary:Version}),
         ${misc:Depends}
Description: Showmehow Service
 A service for code and systems administration lessons in Mission, GObject Introspection files.

Package: libshowmehow-service-0-dev
Section: non-free/libs
Architecture: any
Depends: gir1.2-glib-2.0,
         gir1.2-showmehow-service-0 (= ${binary:Version}),
         libshowmehow-service-0 (= ${binary:Version}),
         gjs,
         ${misc:Depends}
Description: Showmehow Service
 A service for code and systems administration lessons in Mission, library files.

Package: showmehow-service
Section: non-free/libs
Architecture: any
Depends: cowsay,
         fortune-mod,
         gir1.2-glib-2.0,
         gir1.2-showmehow-service-0 (= ${binary:Version}),
         gstreamer1.0-plugins-base-apps,
         libshowmehow-service-0 (= ${binary:Version}),
         gjs,
         ${misc:Depends}
Replaces: libshowmehow-service-0 (<< 0.0.0+dev212.0e5fc14bem1)
Breaks: libshowmehow-service-0 (<< 0.0.0+dev212.0e5fc14bem1)
Description: Showmehow Service
 A service for code and systems administration lessons in Mission.
